* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geo", sans-serif;
  /* background-image: url("images/cef808b3-3a16-4b90-bb21-aa892eaa18b2.gif");
  -webkit-background-size: cover; */
  -moz-background-size: cover; */
  -ms-background-size: cover; */
  -o-background-size: cover; */
  background-size: cover; */
}
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

header {
  position: absolute;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: -1;
}

#backgroundVideo {
  top: 0;
  /* left: 50%; */
  -webkit-/* transform: translateX(-50%); */
  -moz-/* transform: translateX(-50%); */
  -ms-/* transform: translateX(-50%); */
  -o-/* transform: translateX(-50%); */
  /* transform: translateX(-50%); */
  width: 100%;
  height: 100%;
  z-index: -100; /* Ensure it stays behind other content */
  object-fit: cover;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(-5000px) scale(7);
  -moz-transform: translateZ(-5000px) scale(7);
  -ms-transform: translateZ(-5000px) scale(7);
  -o-transform: translateZ(-5000px) scale(7);
  transform: translateZ(-5000px) scale(7);
  z-index: -1;
}

.navbar {
  position: fixed;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  top: 6vh;
  background-color: rgba(0, 0, 0, 0.119);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem 0;
  width: 82vw;
  height: 8.5vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  font-size: 3.7vw;
  font-weight: lighter;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro {
  /* position: absolute; */
  margin-top: 10vh;
  padding: 20px;
  text-align: center;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.intro h1,
.intro h2 {
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

.intro h1 {
  font-size: 8vw;
}

.intro h2 {
  padding-top: 20px;
  font-size: 4vw;
  width: 80vw;
}

.about {
  position: sticky;
  width: 94vw;
  background-color: rgba(0, 0, 0, 0.119);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  text-align: center;
  -webkit-display: flex; /* Flexbox to position elements side by side */
  -moz-display: flex; /* Flexbox to position elements side by side */
  -ms-display: flex; /* Flexbox to position elements side by side */
  -o-display: flex; /* Flexbox to position elements side by side */
  display: flex; /* Flexbox to position elements side by side */
  -webkit-justify-content: start; /* Align items to the start */
  -moz-justify-content: start; /* Align items to the start */
  -ms-justify-content: start; /* Align items to the start */
  -o-justify-content: start; /* Align items to the start */
  justify-content: start; /* Align items to the start */
  -webkit-align-items: stretch; /* Stretch items to fill the container */
  -moz-align-items: stretch; /* Stretch items to fill the container */
  -ms-align-items: stretch; /* Stretch items to fill the container */
  -o-align-items: stretch; /* Stretch items to fill the container */
  align-items: stretch; /* Stretch items to fill the container */
  margin-top: 2vh;
  /* right: 50%; */
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.about h1,
.acontent {
  -webkit-flex: 1; /* Allows both h1 and acontent to expand */
  -moz-flex: 1; /* Allows both h1 and acontent to expand */
  -ms-flex: 1; /* Allows both h1 and acontent to expand */
  -o-flex: 1; /* Allows both h1 and acontent to expand */
  flex: 1; /* Allows both h1 and acontent to expand */
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center; /* Center content vertically */
  -moz-align-items: center; /* Center content vertically */
  -ms-align-items: center; /* Center content vertically */
  -o-align-items: center; /* Center content vertically */
  align-items: center; /* Center content vertically */
  -webkit-justify-content: center; /* Center content horizontally */
  -moz-justify-content: center; /* Center content horizontally */
  -ms-justify-content: center; /* Center content horizontally */
  -o-justify-content: center; /* Center content horizontally */
  justify-content: center; /* Center content horizontally */
}

.about h1 {
  font-size: 6vw;
  color: white;
  font-weight: lighter;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-flex: 0 1 auto; /* Do not allow h1 to grow */
  -moz-flex: 0 1 auto; /* Do not allow h1 to grow */
  -ms-flex: 0 1 auto; /* Do not allow h1 to grow */
  -o-flex: 0 1 auto; /* Do not allow h1 to grow */
  flex: 0 1 auto; /* Do not allow h1 to grow */
  white-space: nowrap;
  padding: 7px;
}

.acontent {
  -webkit-flex: 1; /* Takes up the remaining space, adjusted for 80% */
  -moz-flex: 1; /* Takes up the remaining space, adjusted for 80% */
  -ms-flex: 1; /* Takes up the remaining space, adjusted for 80% */
  -o-flex: 1; /* Takes up the remaining space, adjusted for 80% */
  flex: 1; /* Takes up the remaining space, adjusted for 80% */
  background-color: rgba(0, 0, 0, 0.634); /* Darker semi-transparent overlay */
  backdrop-filter: blur(10px); /* Increased blur effect */
  -webkit-backdrop-filter: blur(10px); /* Increased blur effect for Safari */
  -webkit-justify-content: start; /* Align text to the start */
  -moz-justify-content: start; /* Align text to the start */
  -ms-justify-content: start; /* Align text to the start */
  -o-justify-content: start; /* Align text to the start */
  justify-content: start; /* Align text to the start */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center; /* Center content vertically */
  -moz-align-items: center; /* Center content vertically */
  -ms-align-items: center; /* Center content vertically */
  -o-align-items: center; /* Center content vertically */
  align-items: center; /* Center content vertically */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 20px 20px 15px 15px;
}

.acontent p {
  font-size: 5.3vw;
  color: white;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  /* padding: 10px; */
}

.quote {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 2vh;
  width: 90vw;
  color: white;
  text-align: center;
  font-size: 3.8vw;
  font-weight: lighter;
}

.quote h3 {
  -webkit-align-self: flex-end; /* Align h3 to the flex end (bottom-right corner) */
  -moz-align-self: flex-end; /* Align h3 to the flex end (bottom-right corner) */
  -ms-align-self: flex-end; /* Align h3 to the flex end (bottom-right corner) */
  -o-align-self: flex-end; /* Align h3 to the flex end (bottom-right corner) */
  align-self: flex-end; /* Align h3 to the flex end (bottom-right corner) */
  margin-top: 0.01vh; /* Add margin to separate h3 from h2 */
}

.lines {
  position: sticky;
  top: -4.7vh;
  padding-top: 6vh;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  opacity: 0;
  -webkit-animation: lines linear forwards;
  -moz-animation: lines linear forwards;
  -ms-animation: lines linear forwards;
  -o-animation: lines linear forwards;
  animation: lines linear forwards;
  -webkit-animation-timeline: view();
  -moz-animation-timeline: view();
  -ms-animation-timeline: view();
  -o-animation-timeline: view();
  animation-timeline: view();
  -webkit-animation-range-start: 1vh;
  -moz-animation-range-start: 1vh;
  -ms-animation-range-start: 1vh;
  -o-animation-range-start: 1vh;
  animation-range-start: 1vh;
  -webkit-animation-range-end: 120vh;
  -moz-animation-range-end: 120vh;
  -ms-animation-range-end: 120vh;
  -o-animation-range-end: 120vh;
  animation-range-end: 120vh;
}

@keyframes lines {
  to {
    opacity: 1;
  }
}

#leftImage {
  left: 2vw;
}

#rightImage {
  right: 2vw;
}

.lines img {
  width: 30%;
  height: 97vh;
}

.skills {
  margin-top: -90vh;
  /* background-color: black; */
}

.skills h3 {
  position: sticky;
  top: 12vh;
  font-size: 6vw;
  text-align: center;
  z-index: 20;
}

.fed {
  position: relative;
  width: 69vw;
  height: auto;
  -webkit-align-items: 1 / 1;
  -moz-align-items: 1 / 1;
  -ms-align-items: 1 / 1;
  -o-align-items: 1 / 1;
  align-items: 1 / 1;
  background-color: rgba(0, 0, 0, 0.119);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  text-align: center;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: start;
  -moz-justify-content: start;
  -ms-justify-content: start;
  -o-justify-content: start;
  justify-content: start;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  margin-top: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.fed h1 {
  color: white;
  padding: 1vh 0 1vh 0;
  font-size: 4vw;
}

.im {
  padding: 1vh 0vh 1vh 0vh;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.119);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Center items horizontally */
  -moz-justify-content: center; /* Center items horizontally */
  -ms-justify-content: center; /* Center items horizontally */
  -o-justify-content: center; /* Center items horizontally */
  justify-content: center; /* Center items horizontally */
  -webkit-align-items: center; /* Center items vertically */
  -moz-align-items: center; /* Center items vertically */
  -ms-align-items: center; /* Center items vertically */
  -o-align-items: center; /* Center items vertically */
  align-items: center; /* Center items vertically */
  gap: 3vh;
}

.im img {
  width: 20vw;
  height: auto; /* Ensure images are square */
  box-sizing: border-box; /* Include padding in width and height calculation */
}

.im1 {
  padding: 2vh 0vh 2vh 0vh;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.119);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Center items horizontally */
  -moz-justify-content: center; /* Center items horizontally */
  -ms-justify-content: center; /* Center items horizontally */
  -o-justify-content: center; /* Center items horizontally */
  justify-content: center; /* Center items horizontally */
  -webkit-align-items: center; /* Center items vertically */
  -moz-align-items: center; /* Center items vertically */
  -ms-align-items: center; /* Center items vertically */
  -o-align-items: center; /* Center items vertically */
  align-items: center; /* Center items vertically */
  gap: 3vh;
}

.im1 img {
  width: 17vw;
  height: auto; /* Ensure images are square */
  box-sizing: border-box; /* Include padding in width and height calculation */
}

.footer {
  position: sticky;
  bottom: -26vh;
  margin-top: 3vh;
  /* margin-top: 10vh; */
  width: 100%;
  height: 20vh;
  color: black;
  background-color: black;
  z-index: 200;
}
